.App {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(64, 143, 176);
}
input {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 40px;
}
input:focus {
  outline: none;
}
button {
  background-color: rgb(138, 138, 192);
  border: 1px solid rgb(138, 138, 192);
  border-radius: 5px;
  padding: 10px 40px;
  color: white;
  cursor: pointer;
}
.todoWrapper {
  
  padding: 40px 0;
  width: 70%;
  min-height: 100vh;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.todoWrapper H1 {
  color: white;  
  margin-bottom: 20px;
}
.Todo-form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 50px;
  width: 500px;
}
.Todo-form input {
  width: 300px;
}
.todo-btn {
  transition: background-color 0.3s;
}
.todo-btn:hover {
  background-color: #e3afaf;
}
.Todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 350px;
  background-color: rgb(157, 157, 169);
  padding: 15px 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}
.Edit-Todo-form {
  width: 400px;
}

.FontAwesomeIcon {
  color: white;  
  cursor: pointer;
  transition: color 0.3s;
  margin-right: 1rem;   
}

.FontAwesomeIcon:hover {
  color: #61dafb;           
}
.completed {
  text-decoration: line-through;
  text-decoration-color: rgb(77, 77, 77);
  cursor: pointer;
}
.Edit-Todo-form button {
  background-color: rgb(221, 185, 221);
}
.Edit-Todo-form button:hover {
  background-color: rgb(221, 120, 221);
}


